<head>
    <title>Dynamic Page</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:7em;
        }
    </style>
</head>
 
<body>
    <% if (dynamicContent) { %>
    <h1><%= dynamicContent %></h1>
    <% } %>
  </body>
 
</html>   